{% extends "base.html" %}
{% load staticfiles %}



{% block content%}
  <div class="container mt-4">
    <a href="{% url 'celery_progress:task_status' task_id %}"><h1>{{ task_id }}</h1></a>
    <div class='progress-wrapper'>
      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message">Waiting for progress to start...</div>
  </div>
{% endblock content %}

{% block custom-js %}
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script>
  var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
  document.addEventListener("DOMContentLoaded", function () {
    CeleryProgressBar.initProgressBar(progressUrl);
  });
  </script>
{% endblock custom-js %}
